nav {
  font-size: 25px;
  background-color: #333;
  color: white;
}
li a {
  color: white;
}
li a:hover {
  color: rgb(145, 145, 145);
}

footer {
  background-color: #333;
  font-size: 25px;
  display: grid;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
