<!--
    Footer Template for pages using Bootstrap
    Must include:
        <link rel="stylesheet" href="/static/header-footer.css">
    and all other required bootstrap elements
-->

<table>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item pt-2 pb-2"><a class="nav-link" href="{{url_for('contactUs')}}">Contact Us</a></li>
        <li class="nav-item pt-2 pb-2"><a class="nav-link" href="https://www.facebook.com/IfTheStonesCouldTalk">Facebook</a></li>
      </ul>
    </nav>  
</table>